body {
    background-color: #1b2838;
    color: #c7d5e0;
    display: flex;
    flex-direction: column;
}

.form-container {
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    padding-lefT: 0px;
}

.result-item {
    margin-top: 60px;
}

.result-item > span {
    background-color: #171a21;
    padding: 30px;
    text-wrap: nowrap;
    border-radius: 6px;
}

li.result-item:not(:last-child) { 
   margin-bottom: 20px;  
}